.container-form{
    background-color: blue;
    width: 30%;
    height: 80vh;
    border-radius: 30px;
}

.container-pai{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login{
    background-color: yellow;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    margin-top: 32px;
}

.email{
    margin: 10%;
}
