body {
    height: 100vh;
    background-color: #332E34;
}

.navbar-nav{
    width: 256px;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    border: 1px solid;
    border-radius: 32px;
    transition: border-color 0.3s ease;
  }
 
  .nav-item:hover {
    border-color: blue;
  }

.atualizações{
    text-align: center;
    margin-top: 20px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr; /* Uma coluna */
    grid-auto-rows: 400px; /* Altura automática de 100px para as linhas */
    gap: 20px; /* Espaçamento entre os itens */
    width: 100%; /* Largura do container */
    margin: 0 auto; /* Centraliza o container */
}

.item {
    background: #696666;
    color: white;
    display: flex;
    flex-direction: row; /* Alinha a imagem e o texto lado a lado */
    padding: 10px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui o padding na altura e largura total */
  }

.image-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start; /* Alinha a imagem ao topo */
    margin-right: 20px; /* Espaçamento à direita da imagem */
    height: 100%; /* Altura total do item */
    flex-shrink: 0; /* Evita que o contêiner encolha */
}

.imagem-filme{
    width: auto; /* Largura automática */
    height: 100%; /* Altura total do contêiner da imagem */
    max-width: 100%; /* Largura máxima */
    object-fit: contain; /* Mantém a proporção da imagem */
  }

.texto-acima{
    display: flex; /* Utiliza flexbox para alinhar os elementos internos */
    flex-direction:row; /* Empilha os elementos internamente em coluna */
    align-items: flex-start; /* Alinha os itens à esquerda */
    justify-content: flex-start; /* Alinha os itens ao topo */
    flex-grow: 1; /* Ocupa o espaço restante */
    height: 20%;
}

.texto-acima p {
    font-size: 1rem; /* Tamanho do texto */
    line-height: 1.4; /* Altura da linha */
    margin-left: 10px;
    margin-top: 14px;
}

.dirigido{
    display: flex;
    align-items: flex-start;
}

.container-footer{
    background-color: black;
    height: 300px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.logo-footer{
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-footer img{
    height: 64px;
    width: 64px;
    margin-top: 30px;
    position: absolute;
}

.direitos{
    width: 100%;
    display: flex;
    justify-content: center;
}

.direitos p{
    width: 400px;
    text-align: center;
}

.circles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 256px;
}