body {
    height: 100vh;
    background-color: #332E34;
}

.navbar-nav{
    width: 256px;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    border: 1px solid;
    border-radius: 32px;
    transition: border-color 0.3s ease;
  }
 
  .nav-item:hover {
    border-color: blue;
  }

.atualizações{
    text-align: center;  /* Centraliza o texto horizontalmente */
    margin-top: 20px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column; 
    /* centraliza o conteúdo horizontal e verticalmente */
    align-items: center;
    justify-content: center;
}

/* Filmes Grid */
.container {
    display: grid;
    grid-template-columns: 1fr; /* colunas da grade para uma unidade fracionária */
    grid-auto-rows: 400px; /* Define as linhas automáticas da grade para 400px */
    gap: 20px; /* Espaçamento entre os itens */
    width: 100%; /* Largura do container */
}

.item{
    background: #696666;
    color: white;
    display: flex;
    flex-direction: row; /* Define a direção do flex para linha */
    padding: 10px; /* Espaçamento interno */
  }

.image-container{
    display: flex;
    flex-direction: column; /* Define a direção do flex para coluna */
    margin-right: 20px; /* Espaçamento à direita da imagem */
    height: 100%; /* Altura total do item */
    flex-shrink: 0; /* Evita que o contêiner encolha */
}

.imagem-filme{
    width: auto; /* Largura automática */
    height: 100%; /* Altura total do contêiner da imagem */
    max-width: 100%; /* Largura máxima */
    object-fit: contain; /* Mantém a proporção da imagem */
  }

.texto-acima{
    display: flex; /* Utiliza flexbox para alinhar os elementos internos */
    align-items: flex-start; /* Alinha os itens à esquerda */
    justify-content: space-between;
    flex-grow: 1; /* Espaçamento de 1 */
    height: 10px; /* Altura */
    max-width: 100%;    
}

.year{
    margin-top: 14px;
}

.dirigido{
    margin-top: 14px;
}

.informações{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.itens{
    flex: 1;
	margin: 5px;
}

.rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagem-rating{
    margin-bottom: 15px;
}

.reviews{
    text-align: justify;
}

/* Footer */
.container-footer{
    background-color: black;
    height: 300px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.logo-footer{
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-footer img{
    height: 64px;
    width: 64px;
    margin-top: 30px;  
    position: absolute;
}

.direitos{
    width: 100%;
    display: flex;
    justify-content: center;
}

.direitos p{
    width: 400px;
    text-align: center;
}

.circles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 256px;
}

