body {
    background-color: #211E22;
    color: white;
}

.title-nav {
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
    min-height: 100px;
    margin: 0 auto;
  }

  .title-nav p {
    font-size: 24px;
    margin-bottom: 0;
  }

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #332E34;
    border-radius: 8px;
}

.titulo {
    font-size: 24px;
    margin-bottom: 0;
}

.subtitulo {
    font-size: 18px;
    margin-top: 5px;
}

.diretor {
    font-size: 16px;
    margin: 0;
}

.analise {
    font-size: 16px;
    margin: 0;
}

.texto {
    font-size: 16px;
    text-align: justify;
    margin-top: 20px;
}

.img-custom {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

.img-rating {
    width: 100px;
    height: auto;
}

.img-rating-text {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.navbar-nav{
    width: 256px;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    border: 1px solid;
    border-radius: 32px;
    transition: border-color 0.3s ease;
  }
  
  .nav-item:hover {
    border-color:blue;
  }

footer {
    background-color: #211e22;
}

.container-footer {
    background-color: black;
    height: 300px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.logo-footer {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-footer img {
    height: 64px;
    width: 64px;
    margin-top: 30px;
    position: absolute;
}

.direitos {
    width: 100%;
    display: flex;
    justify-content: center;
}

.direitos p {
    width: 400px;
    text-align: center;
}

.circles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 256px;
}

@media (max-width: 768px) {
    .titulo {
        font-size: 20px;
    }

    .subtitulo {
        font-size: 16px;
    }

    .diretor {
        font-size: 14px;
    }

    .analise {
        font-size: 14px;
    }

    .texto {
        font-size: 14px;
    }

    .img-rating {
        width: 80px;
    }

    .img-custom {
        max-width: 100%;
    }

    .img-rating-text {
        width: 1em;
        height: 1em;
    }
}